<!-- ------------------------------------------------------ -->
<%
# ####          Nagłówek i info wstępne            #### #

%>

<!-- ------------------------------------------------------ -->

<% if ApplicationController.debug_mode %>
<h1>Hello#index</h1>
<p>
	 <b>(dopisz w adresie <i>/action/:id</i> lub <i>?stat=X</i>, aby zobaczyć wynik GET poniżej)</b>
</p>
<p>
	Invoked action is: <b>'<%= @action %>'</b>,
	param status is: <b>'<%= @status %>'</b><br/>
	Current date is: <b><%= ApplicationController.time1.strftime('%A, %B %d, %Y') %></b>,
	current time is: <b><%= ApplicationController.time1.strftime('%H:%M:%S') %></b><br/>
	<% #Current seconds from <span style="color: #00ABA9;">1/1/1970</span> are: <%= @secs
	%>
</p>
<% #<p>Find me in app/views/hello/index.html.erb</p>
%>
<% end %>

<!-- ------------------------------------------------------ -->

<% if ApplicationController.debug_mode %>
<div class="well">
	<h2>Zawartość tablicy {params}</h2>
	<ul>
		<% for elem in params %>
		<li><%= elem %></li>
		<% end %>
	</ul>
</div>
<% end %>

<!-- ------------------------------------------------------ -->

<% if ApplicationController.debug_mode %>
<div class="well">
  <h2>Zawartość tablicy {cookies}</h2>
  <ul>
    <% for elem in cookies %>
    <li><%= elem %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- ------------------------------------------------------ -->

<% if ApplicationController.debug_mode %>
<div class="well">
	<h2>Zawartość tablicy {a}</h2>
	<ul>
		<% for elem in @a %>
		<li><%= elem %></li>
		<% end %>
	</ul>
</div>
<% end %>

<!-- ------------------------------------------------------ -->
<%
	# ####         Formularz testowy (logowanie)         #### #
%>

<form class="form-horizontal well" role="form">
  <h2 class="my_page_title">Logowanie do serwisu</h2>
  <div id="inputUserId-group" class="form-group" style="<%= @inputUserId_display %>">
    <label for="inputUserId" class="col-sm-4 control-label">Twój identyfikator:</label>
    <div class="col-sm-8">
        <div class="input-group-lg">
        <!-- <span class="input-group-addon">@</span> -->
        <input type="tel" class="form-control" id="inputUserId" name="inputUserId" placeholder="Identyfikator" autofocus="autofocus" title="Identyfikator">
        <!-- <span class="input-group-addon">.com</span> -->
        </div>
    </div>
  </div>
  <div id="inputEmail-group" class="form-group" style="<%= @inputEmail_display %>">
    <label for="inputEmail" class="col-sm-4 control-label">Twój adres e-mail:</label>
    <div class="col-sm-8">
        <div class="input-group-lg">
        <!-- <span class="input-group-addon">@</span> -->
        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Adres e-mail" autofocus="autofocus">
        <!-- <span class="input-group-addon">.com</span> -->
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-4 control-label">Hasło logowania:</label>
    <div class="col-sm-8 input-group-lg">
      <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Hasło">
    </div>
  </div>
  <div id="loginIdSwitch" class="col-sm-12">
      <a href="#" class="btn btn-sm" onclick="return swich_login_input();">
      <span  class="glyphicon glyphicon-retweet"></span> Zmień sposób logowania</a>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="inputKeepAlive" name="inputKeepAlive"> Zapamiętaj mnie na tym urządzeniu
        </label>
      </div>
      <div>
      	<br />
      	<p class="small">Logując się akceptujesz bieżącą postać <a href="#">Regulaminu</a> i <a href="#">Politykę prywatności</a>.
      		<br />(ostatnie zmiany: <strong>14 lutego 2014r.</strong>, <a href="#">czytaj więcej &raquo;</a>)</p>
      	<p class="small">W razie problemów naduś <a href="#" onclick="return reload();"><kbd>F5</kbd></a>, aby odświeżyć stronę.</p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button type="cancel" class="btn">Anuluj</button>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Zaloguj</button>
      <p>&nbsp;</p>
	  <p>Nie mam jeszcze konta, <a href="#">chciałbym się zarejestrować</a>.</p>
    </div>
  </div>
</form>

<!-- ------------------------------------------------------ -->
