<%
	# ------------------------------------------------------
	# ####       Górne menu nawigacyjne (navbar)        ####
	# ------------------------------------------------------

%>

<% if ApplicationController.menu_mode=='static_top' %>
	<!-- static navbar -->
	<div class="navbar navbar-default navbar-static-top" id="navbar_group" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "Arena.pl", root_url, class: "navbar-brand" %>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><%= link_to "Ogłoszenia", offers_path %></li>
					<li><%= link_to "Kup teraz", offers_path %></li>
					<li><%= link_to "Sklepy", offers_path %></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="small"><a href="#">mxw3000</a></li>
					<% if ApplicationController.test_mode %>
          <li class="dropdown">
            <% # ---------------------------------------------------------------------------------------------- %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Test <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="info"><%= link_to "Strona główna", "http://127.0.0.1:3000" %></li>
              <li class="info"><a href="#" onclick="return refresh_page();">Odśwież stronę</a></li>
              <% if cookies[:cookie_warning]=="Accepted" %>
              <li><a href="#" onclick="return delet_cookie_warning_cookie();">Usuń akceptację ciasteczek</a></li>
              <% else %>
              <li><a href="#" onclick="return close_cookie_warning();">Zaakceptuj akceptację ciasteczek</a></li>
              <% end %>
              <li class="info"><%= link_to "Nowa oferta", offers_new_path %></li>
            </ul>
            <% # ---------------------------------------------------------------------------------------------- %>
          </li>
          <% end %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Moja Arena <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Mój profil</a></li>
							<li><a href="#">Panel użytkownika</a></li>
							<li><a href="#">Kupione</a></li>
							<li><a href="#">Sprzedane</a></li>
							<li><a href="#">Obserwowane</a></li>
						</ul>
					</li>
					<li><a href="#">Zarejestruj</a></li>
					<li class="active"><a href="#">Zaloguj</a></li>
				</ul>
			</div>
		</div>
	</div> <!-- /#navbar_group -->
<% end %>

<%
	# ------------------------------------------------------
%>